{% extends "main.html" %}
{% block title %}Read{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/quickkeys.js') }}"></script>
    <script>on_key_goto(69, '{{ url_for('entry.edit', model_name=model.name, entry_id=entry._id) }}');</script>
{% endblock %}
{% block content %}
    <h3>Read</h3>
    {% import 'macros/entry.html' as m_entry -%}
    {{ m_entry.display(render_entry, model, entry) }}

    {% if related_entries %}
        <h2>Related Entries</h2>
        {% for relation in related_entries %}
            <h4>{{ relation.name }}</h4>
            {{ m_entry.list(relation['related_model'], relation['entries']) }}
        {% endfor %}
    {% endif %}
{% endblock %}